html {
	font-family: "Arial";
}

#main {
	text-align:center;
	font-size: 60px;
	padding: 20px;
	color: #E00000
}

.search-bar {
	padding: 2px;
	overflow: hidden;
	height: 20px;
	width: 500px;
}
.search-buttons {
	font-size: 16px;
	color: #2E2E2E;
	width: 150px;
	height: 30px;
	/*padding: 5px 15px 5px 15px;*/
}