.button
{
	font-size:50px;
}

.calculator {
	width:300px;
}

.keypad {
	
}

.numpad {
	width:35%;
	float:left;
	padding:10px;
	display: grid;
	grid-template-columns: 25px 25px 25px;
	grid-gap: 10px;
	box-shadow: 2px 2px 8px #000000;
	border-radius: 5px;
}

.operators {
	float:left;
	width:10%;
	margin: 0 0 0 10px;
	position:static;
	padding:10px;
	display:grid;
	grid-template-columns:25px;
	grid-gap:10px;
	box-shadow: 2px 2px 8px #000000;
	border-radius: 5px;
}

.actions {
	float:left;
	position: static;
	margin: 0 0 0 10px;
	width: 25%;
	padding:10px;
	display:grid;
	grid-template-columns:25px;
	grid-gap:10px;
	box-shadow: 2px 2px 8px #000000;
	border-radius: 5px;
}

#equal {
	width=100%;
}

#display {
	color:#B8B8B8;
	padding:10px;
	margin:4px 0 4px 0;
	border-style:solid;
	border-color:#000000;
	border-width:1px;
	border-radius: 8px;
}