html {
	font-family: "Arial";
	background-color:#17C7DC;
}

#user-panel {
	background-color:#FFFFFF;
	border:solid;
	border-width:2px;
	border-radius:10px;
	padding:20px;
	margin:15px;
	position:fixed;
}

.rock {
	padding:3px;
}

.rock:hover {
	border-radius:10px;
	box-shadow: 3px 3px 3px 3px #C0C0C0;
}

.paper {
	padding:3px;
}

.paper:hover {
	border-radius:10px;
	box-shadow: 3px 3px 3px 3px #C0C0C0;
}

.scissors {
	padding:3px;
}

.scissors:hover {
	border-radius:10px;
	box-shadow: 3px 3px 3px 3px #C0C0C0;
}


#computer {
	text-align:center;
	background-color:#FFFFFF;
	border:solid;
	border-width:2px;
	border-radius:10px;
	padding:20px 20px 45px 20px;
	margin:15px;
	position:fixed;
	left:500px;
}

.question-mark{
	height:200px;
}


#result {
	background-color:#FFFFFF;
	margin:15px;
	padding:15px;
	height:150px;
	width:800px;
	border:solid;
	border-width:2px;
	border-radius:10px;
	position:fixed;
	top:400px;
}